<!DOCTYPE html>
<html lang="nl">
<head>
	{metadata showbase="false"}
	{capture assign='captured_content'}{content}{/capture}
    <title>{title} - {sitename}</title>
    <meta name="description" content="{content block='description' oneline='true' wysiwyg='false'}" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	{static_stylesheet}
	{cms_selflink dir="start" rellink=1}
	{cms_selflink dir="prev" rellink=1}
	{cms_selflink dir="next" rellink=1}
</head>

<body class="nobanner">
<div id="wrap">
	<div id="header">
		<a href="/" id="logo"><img src="uploads/defacto/img/logo_de.jpg" alt="{sitename}" title="{sitename}" /></a>
		<div id="menu">
			{cached_menu template="defacto.tpl" number_of_levels="2"}
		</div>
		{taalkeuze}
	</div>

	<div id="banner">&nbsp;</div>

	<div id="content" class="clearfix">

		<div id="bluebar">
			<div class="head">
				<h1>{title}</h1>
			</div>
		</div>

<div id="tour-content" class="clearfix">

	<div class="left-column">
		<h2 id="capplogo">
			<img src="uploads/defacto/img/capp11-devppl.png" alt="CAPP 11 Opleidingssoftware" />
		</h2>
		<h3>Eén loket voor Opleiding &amp; Ontwikkeling</h3>
		<p>Zonder een betrouwbaar LMS voor Opleiden en Ontwikkelen kan uw opleidingsorganisatie vandaag de dag eigenlijk niet meer functioneren.<br/>Neem daarom een kijkje in CAPP 11 en laat u overtuigen van zijn waarde.</p>
	</div>

	<div class="right-column">
		<img src="uploads/images/tour/main.jpg" alt="CAPP 11 screenshot" />
	</div>

<hr />
</div>

<ul id="tour-section" class="clearfix">
	<li>
		<a class="zoom" href="uploads/images/tour/1-1.jpg" title="Al uw opleiding terug te vinden in één catalogus: klassikaal, blended, E-Learning." rel="tour">
			<span>&nbsp;</span>
			<img src="uploads/images/tour/1.jpg" alt="Alle opleidingen op één plek" />
		</a>
		<a class="zoom hide" href="uploads/images/tour/1-2.jpg" title="U kunt eenvoudig uw cursusaanbod voorzien van informatieve beschrijvingen." rel="tour">&nbsp;</a>
		<a class="zoom hide" href="uploads/images/tour/1-3.jpg" title="Vanuit de cursuscatalogus kunnen uw gebruikers snel en overzichtelijk alle beschikbare cursussen vinden." rel="tour">&nbsp;</a>
		<div class="description">
			<h4>Alle opleidingen op één plek</h4>
			<p>Workshops, trainingen, cursussen, e-learing, noem maar op. Allemaal te vinden en op in te schrijven via één catalogus.</p>
		</div>
	</li>

	<li>
		<a class="zoom" href="uploads/images/tour/2-1.jpg" title="Blended Learning: Vul uw reguliere lessen eenvoudig aan met E-Learning modules of toetsen." rel="tour">
			<span>&nbsp;</span>
			<img src="uploads/images/tour/2.jpg" alt="" />
		</a>
		<a class="zoom hide" href="uploads/images/tour/2-2.jpg" title="Het volgen én beheren van E-Learnig was nog nooit zo gemakkelijk." rel="tour">&nbsp;</a>
		<div class="description">
			<h4>E-Learning &amp; Blended Learning</h4>
			<p>Een modern LMS kan natuurlijk niet zonder digitale leervormen. In CAPP 11 maakt u E-Learning daarom eenvoudig onderdeel van al uw opleidingen.</p>
		</div>
	</li>

	<li>
		<a class="zoom" href="uploads/images/tour/3-1.jpg" title="Docenten kunnen in CAPP 11 een hoop zelf regelen: cijfers &amp; presentie registreren, cursusmateriaal klaarzetten, huiswerk beoordelen, etc." rel="tour">
			<span>&nbsp;</span>
			<img src="uploads/images/tour/3.jpg" alt="" />
		</a>
		<a class="zoom hide" href="uploads/images/tour/3-2.jpg" title="CAPP 11 bespaart uw de aanschaf van complexe evaluatie tools en verlaagt drempels voor cursisten om een evaluatie af te geven." rel="tour">&nbsp;</a>
		<a class="zoom hide" href="uploads/images/tour/3-3.jpg" title="Als cursist al het cursusmateriaal op één plek en je huiswerk eenvoudig delen met je docent." rel="tour">&nbsp;</a>
		<div class="description">
			<h4>Zeer gebruiksvriendelijk</h4>
			<p>Laat uw gebruikers volledige participeren in het opleidingsproces met zeer intuïtief LMS gericht op 'selfservice'.</p>
		</div>
	</li>

	<li>
		<a class="zoom" href="uploads/images/tour/4-1.jpg" title="Ken certificaten toe aan cursisten en bewaak hun geldigheid in een handomdraai." rel="tour">
			<span>&nbsp;</span>
			<img src="uploads/images/tour/4.jpg" alt="" />
		</a>
		<a class="zoom hide" href="uploads/images/tour/4-2.jpg" title="Met de verschillende overzichten van CAPP 11 krijgt een leidinggevende / manager de actuele certificering inzichtelijk." rel="tour">&nbsp;</a>
		<div class="description">
			<h4>Certificering &amp; Compliance</h4>
			<p>Uiteindelijk draait het om het vakbekwaam en -bevoegd maken van cursisten. Ken daarom automatisch certificaten toe en bewaak hun geldigheid.</p>
		</div>
	</li>

	<li>
		<a class="zoom" href="uploads/images/tour/5-2.jpg" title="De medewerkers van Maandag komen in een herkenbare Campus terecht." rel="tour">
			<span>&nbsp;</span>
			<img src="uploads/images/tour/5.jpg" alt="" />
		</a>
		<a class="zoom hide" href="uploads/images/tour/5-1.jpg" title="De Elektronische Leeromgeving van Getronics Educational Services is volledig aangepast aan de eigen huisstijl." rel="tour">&nbsp;</a> 
		<a class="zoom hide" href="uploads/images/tour/5-3.jpg" title="Het Learning Management Systeem van het LUMC sluit naadloos aan bij de algemene website." rel="tour">&nbsp;</a>
		<div class="description">
			<h4>Uw eigen huisstijl</h4>
			<p>U kunt het uiterlijk van CAPP 11 volledig naar eigen wens vormgeven. Zo creëert u een herkenbare en eigen leeromgeving.</p>
		</div>
	</li>

	<li>
		<a class="zoom" href="uploads/images/tour/6-1.jpg" title="Beheer uw volledig cursusaanbod en planning met CAPP 11." rel="tour">
			<span>&nbsp;</span>
			<img src="uploads/images/tour/6.jpg" alt="" />
		</a>
		<a class="zoom hide" href="uploads/images/tour/6-2.jpg" title="Schrijf eenvoudig cursisten in op cursussen." rel="tour">&nbsp;</a>
		<a class="zoom hide" href="uploads/images/tour/6-3.jpg" title="CAPP 11 biedt uw logistieke medewerkers een uitgebreide procesondersteuning." rel="tour">&nbsp;</a>
		<a class="zoom hide" href="uploads/images/tour/6-4.jpg" title="CAPP 11 neemt u veel arbeidsintensieve taken uit handen zoals het versturen van - in dit voorbeeld - persoonlijke  bevestigingen." rel="tour">&nbsp;</a>
		<div class="description">
			<h4>Cursusadministratie</h4>
			<p>Het organiseren van opleidingen is niet eenvoudig, maar gelukkig ondersteunt CAPP 11 dit uitstekend.</p>
		</div>
	</li>

	<li>
		<a class="zoom" href="uploads/images/tour/7-1.jpg" title="In CAPP 11 kunt u al uw personen en organisaties beheren." rel="tour">
			<span>&nbsp;</span>
			<img src="uploads/images/tour/7.jpg" alt="" />
		</a>
		<a class="zoom hide" href="uploads/images/tour/7-2.jpg" title="In CAPP 11 kunt u al uw personen en organisaties beheren." rel="tour">&nbsp;</a>
		<div class="description">
			<h4>Beheer uw relaties</h4>
			<p>In CAPP 11 kunt u gemakkelijk alle personen en organisatie beheren.</p>
		</div>
	</li>

	<li>
		<a class="zoom" href="uploads/images/tour/8-1.jpg" title="Rapportages zijn voor alle gebruikers eenvoudig op te starten. Actuele informatie met de druk op één knop." rel="tour">
			<span>&nbsp;</span>
			<img src="uploads/images/tour/8.jpg" alt="" />
		</a>
		<a class="zoom hide" href="uploads/images/tour/8-2.jpg" title="Niet alleen rapporten, maar ook veel lijsten en overzichten zijn eenvoudig te exporteren naar bijvoorbeeld PDF." rel="tour">&nbsp;</a>
		<div class="description">
			<h4>Rapportage</h4>
			<p>Met actuele rapportages kunnen u en uw gebruikers het opleidingsproces optimaal sturen.</p>
		</div>
	</li>
</ul>
	</div>
</div>

<div id="bottom">
	<div id="bottom-content">
		
	</div>
	<div id="footer">
		<span class="copyright">© {copyright_year} Defacto Automatisering. Alle rechten voorbehouden.</span>
		<a href="index.php?page=sitemap" class="sitemap">Sitemap</a>
		{adwords_conversietracker conversion_label=$smarty.capture.adwords_conversion_label}
	</div>
</div>
{global_content name='global_javascript'}

{literal}<script>
$(document).ready(function() {
	// Rondleiding
	$("a.zoom").fancybox({
		'titlePosition' 		: 'inside',
		'enableEscapeButton'	: 'true',
		'transitionIn'		: 'elastic',
		'transitionOut'		: 'elastic',
		'speedIn'			: '900',
		'speedOut'			: '300',
		'overlayColor'		: '#000',
		'titleShow'			: 'true'
	});
});
</script>{/literal}
{nedstat_include pagealias=$page_alias}
{google_analytics virtual_url=$smarty.capture.analytics_virtual_url}
</body>
</html>